Repository qxmpp-project/qxmpp, pull requests merged in 2020-04, with the labels that each got.

#282 QXmppCallStream: Wrap callback in std::function
  src/client/QXmppCallStream.cpp
  src/client/QXmppCallStream.h
  src/client/QXmppCallStream_p.h
Labels: client

#283 QXmppStanza::Error: Add 'by' attribute from RFC6120
  src/base/QXmppStanza.cpp
  src/base/QXmppStanza.h
  tests/qxmppstanza/tst_qxmppstanza.cpp
Labels: base

#284 QXmppMessage: Add parent thread attribute from RFC6121
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: base

#286 Add roster versioning stream feature
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppStreamFeatures.cpp
  src/base/QXmppStreamFeatures.h
  tests/qxmppstreamfeatures/tst_qxmppstreamfeatures.cpp
Labels: base

#288 Clean up QXmppMessage
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
Labels: base, trivial

#292 Add unit test for QXmppRosterIq subscription status
  tests/qxmpprosteriq/tst_qxmpprosteriq.cpp
Labels: base
