Repository qxmpp-project/qxmpp, pull requests merged in 2020-03, with the labels that each got.

#260 Fix switch statement when handling IQ stanza for registration
  src/client/QXmppRegistrationManager.cpp
  tests/qxmppregistrationmanager/tst_qxmppregistrationmanager.cpp
Labels: bug, client

#269 Bug/receipt manager
  src/client/QXmppMessageReceiptManager.cpp
  tests/qxmppmessagereceiptmanager/tst_qxmppmessagereceiptmanager.cpp
Labels: bug, client

#272 Expand QSL and QBL
  src/base/QXmppArchiveIq.cpp
  src/base/QXmppBindIq.cpp
  src/base/QXmppBitsOfBinaryContentId.cpp
  src/base/QXmppBitsOfBinaryData.cpp
  src/base/QXmppBookmarkSet.cpp
  src/base/QXmppByteStreamIq.cpp
  src/base/QXmppDataForm.cpp
  src/base/QXmppGlobal.h.in
  src/base/QXmppJingleIq.cpp
  src/base/QXmppMamIq.cpp
  src/base/QXmppMessage.cpp
  src/base/QXmppMixIq.cpp
  src/base/QXmppMixItem.cpp
  src/base/QXmppMucIq.cpp
  src/base/QXmppNonSASLAuth.cpp
  src/base/QXmppPingIq.cpp
  src/base/QXmppPresence.cpp
  src/base/QXmppPubSubIq.cpp
  src/base/QXmppPubSubItem.cpp
  src/base/QXmppRegisterIq.cpp
  src/base/QXmppResultSet.cpp
  src/base/QXmppRosterIq.cpp
  src/base/QXmppRpcIq.cpp
  src/base/QXmppSasl.cpp
  src/base/QXmppSessionIq.cpp
  src/base/QXmppStanza.cpp
  src/base/QXmppStartTlsPacket.cpp
  src/base/QXmppStream.cpp
  src/base/QXmppStreamFeatures.cpp
  src/base/QXmppStreamInitiationIq.cpp
  src/base/QXmppStreamManagement.cpp
  src/base/QXmppStun.cpp
  src/base/QXmppUtils.cpp
  src/base/QXmppVCardIq.cpp
  src/base/QXmppVersionIq.cpp
Labels: base

#275 Update parameter of 'QXmppMessage::parseExtension()' in header file
  src/base/QXmppMessage.h
Labels: base, trivial

#274 Update copyright year from '2019' to '2020' for forgotten files
  src/client/QXmppCallManager_p.h
  tests/qxmppstarttlspacket/tst_qxmppstarttlspacket.cpp
Labels: trivial

#273 QXmppDataForm: Add ctor with all attributes
  src/base/QXmppDataForm.cpp
  src/base/QXmppDataForm.h
  tests/qxmppregisteriq/tst_qxmppregisteriq.cpp
Labels: base

#271 Implement XEP-0357: Push Notifications enable/disable IQ
  doc/xep.doc
  src/CMakeLists.txt
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppPushEnableIq.cpp
  src/base/QXmppPushEnableIq.h
  tests/CMakeLists.txt
  tests/qxmpppushenableiq/tst_qxmpppushenableiq.cpp
Labels: base

#267 Use 'QRandomGenerator::global()->generate()' instead of deprecated 'qsrand()' and 'qrand()' for Qt >= 5.10
  src/base/QXmppStream.cpp
  src/base/QXmppUtils.cpp
Labels: base

#276 Implement XEP-0245: The /me Command
  doc/xep.doc
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: base

#277 Deprecate PaymentRequired error condition
  src/base/QXmppStanza.h
Labels: base

#262 Do not include 'ask' attribute when renaming roster item
  src/client/QXmppRosterManager.cpp
Labels: bug, client
