Repository qxmpp-project/qxmpp, pull requests merged in 2020-02, with the labels that each got.

#247 QXmppRegisterIq: Add utility methods to create common requests
  src/base/QXmppRegisterIq.cpp
  src/base/QXmppRegisterIq.h
  tests/qxmppregisteriq/tst_qxmppregisteriq.cpp
Labels: base

#249 Refactor QXmppRegisterIq: Replace registerType by two separate attr.
  src/base/QXmppRegisterIq.cpp
  src/base/QXmppRegisterIq.h
  tests/qxmppregisteriq/tst_qxmppregisteriq.cpp
  tests/qxmppregistrationmanager/tst_qxmppregistrationmanager.cpp
Labels: base

#251 Handle result of deleteAccount()
  src/client/QXmppRegistrationManager.cpp
  src/client/QXmppRegistrationManager.h
  tests/qxmppregistrationmanager/tst_qxmppregistrationmanager.cpp
Labels: client

#253 Implement XEP-0428: Fallback Indication
  doc/xep.doc
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: base

#255 utils: Generate UUIDs for stanza hashes by default
  src/base/QXmppUtils.cpp
  src/base/QXmppUtils.h
  tests/qxmpputils/tst_qxmpputils.cpp
Labels: base

#256 Implement XEP-0359: Unique and Stable Stanza IDs
  doc/xep.doc
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: base

#257 Update MAM implementation to v0.6
  doc/xep.doc
  src/base/QXmppConstants.cpp
  tests/qxmppmammanager/tst_qxmppmammanager.cpp
Labels: base, client

#191 Add not authorized condition for stream error
  src/client/QXmppOutgoingClient.cpp
Labels: client
