Repository qxmpp-project/qxmpp, pull requests merged in 2021-03, with the labels that each got.

#329 Implement MIX invitation
  src/CMakeLists.txt
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  src/base/QXmppMixInvitation.cpp
  src/base/QXmppMixInvitation.h
  src/base/QXmppRosterIq.cpp
  tests/CMakeLists.txt
  tests/qxmppmessage/tst_qxmppmessage.cpp
  tests/qxmppmixinvitation/tst_qxmppmixinvitation.cpp
Labels: section:base, type:feature

#335 QXmppClient: Reset Stream Management package cache on JID changes
  src/base/QXmppStream.cpp
  src/base/QXmppStream.h
  src/base/QXmppStreamManagement.cpp
  src/base/QXmppStreamManagement_p.h
  src/client/QXmppClient.cpp
Labels: section:client, type:bug

#339 Fix build with Qt 5.7
  src/base/QXmppGlobal.h.in
  src/base/QXmppUtils.cpp
  tests/qxmppbitsofbinarycontentid/tst_qxmppbitsofbinarycontentid.cpp
  tests/qxmppmessage/tst_qxmppmessage.cpp
  tests/qxmppstreaminitiationiq/tst_qxmppstreaminitiationiq.cpp
Labels: type:bug

#341 QXmppDataForm: Add FORM_TYPE search function
  src/base/QXmppDataForm.cpp
  src/base/QXmppDataForm.h
  tests/qxmppdataform/tst_qxmppdataform.cpp
Labels: section:base, type:feature
