Repository qxmpp-project/qxmpp, pull requests merged in 2022-09, with the labels that each got.

#447 Implement XEP-0300: Use of Cryptographic Hash Functions in XMPP
  doc/xep.doc
  src/CMakeLists.txt
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppHash.cpp
  src/base/QXmppHash.h
Labels: type:feature

#438 Introduce usage of DOAP file
  .github/pull_request_template.md
  doc/Doxyfile.in
  doc/doap-rendering/README.md
  doc/doap-rendering/doap.css
  doc/doap-rendering/doap.xsl
  doc/doap-rendering/update-xeplist.sh
  doc/doap-rendering/xeplist.xml
  doc/doap-rendering/xeplist.xml.license
  doc/doap.xml
  doc/xep.doc
Labels: type:feature

#448 Implement XEP-0447: Stateless file sharing: File sharing element
  doc/doap.xml
  src/CMakeLists.txt
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppFileShare.cpp
  src/base/QXmppFileShare.h
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: type:feature, section:base

#463 Implement XEP-0448: Encryption for stateless file sharing parsing
  doc/doap.xml
  src/CMakeLists.txt
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppEncryptedFileSource.cpp
  src/base/QXmppEncryptedFileSource_p.h
  src/base/QXmppHash.cpp
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: type:feature, section:base

#469 Make encrypted file source public
  src/base/QXmppEncryptedFileSource.cpp
  src/base/QXmppEncryptedFileSource.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: type:enhancement

#457 Implement XEP-0272: Multiparty Jingle (Muji) stanza parts
  doc/doap.xml
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppJingleIq.cpp
  src/base/QXmppJingleIq.h
  src/base/QXmppPresence.cpp
  src/base/QXmppPresence.h
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
  tests/qxmpppresence/tst_qxmpppresence.cpp
Labels: type:feature, section:base

#467 Implement XEP-0167: Jingle RTP Sessions multiplexing
  doc/doap.xml
  src/base/QXmppJingleIq.cpp
  src/base/QXmppJingleIq.h
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: type:feature, section:base

#470 FileMetadata: Allow multiple thumbnails
  src/base/QXmppFileMetadata.cpp
  src/base/QXmppFileMetadata.h
Labels: type:enhancement

#472 doap: Add missing end tag
  doc/doap.xml
Labels: type:bug

#476 Allow adding multiple oob urls and a description
  src/CMakeLists.txt
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  src/base/QXmppOutOfBandUrl.cpp
  src/base/QXmppOutOfBandUrl.h
  tests/qxmppmessage/tst_qxmppmessage.cpp
Labels: section:base

#479 QXmppHttpUploadManager: Also use unique_ptr for data device
  src/client/QXmppHttpUploadManager.cpp
  src/client/QXmppHttpUploadManager.h
Labels: type:enhancement, section:client

#455 Implement XEP-0293: Jingle RTP Feedback Negotiation stanza parts
  doc/doap.xml
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppJingleIq.cpp
  src/base/QXmppJingleIq.h
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: type:feature, section:base

#477 Implement Stateless File Sharing
  doc/doap.xml
  src/CMakeLists.txt
  src/base/QXmppFileShare.cpp
  src/base/QXmppFileShare.h
  src/base/QXmppUtils.cpp
  src/base/QXmppUtils_p.h
  src/client/QXmppDownload.cpp
  src/client/QXmppDownload.h
  src/client/QXmppEncryptedHttpFileSharingProvider.cpp
  src/client/QXmppEncryptedHttpFileSharingProvider.h
  src/client/QXmppFileSharingManager.cpp
  src/client/QXmppFileSharingManager.h
  src/client/QXmppFileSharingProvider.h
  src/client/QXmppFileTransfer.cpp
  src/client/QXmppFileTransfer.h
  src/client/QXmppHttpFileSharingProvider.cpp
  src/client/QXmppHttpFileSharingProvider.h
  src/client/QXmppHttpUploadManager.cpp
  src/client/QXmppUpload.cpp
  src/client/QXmppUpload.h
Labels: type:feature, section:client

#481 Fix installing the headers that are dependent on QCA
  src/CMakeLists.txt
Labels: type:bug
