Repository qxmpp-project/qxmpp, pull requests merged in 2022-03, with the labels that each got.

#397 Refactor trust storage
  src/client/QXmppAtmManager.cpp
  src/client/QXmppTrustMemoryStorage.cpp
  src/client/QXmppTrustMemoryStorage.h
  src/client/QXmppTrustStorage.cpp
  src/client/QXmppTrustStorage.h
  tests/qxmppatmmanager/tst_qxmppatmmanager.cpp
  tests/qxmpptrustmemorystorage/tst_qxmpptrustmemorystorage.cpp
Labels: type:enhancement, section:client

#401 tests: E2eeMetadata: Workaround compile error with clang 13
  tests/qxmppstanza/tst_qxmppstanza.cpp
Labels: type:bug, section:tests

#403 Stanza::Error: Add optional overloads for Condition/Type
  src/base/QXmppStanza.cpp
  src/base/QXmppStanza.h
  tests/qxmppstanza/tst_qxmppstanza.cpp
Labels: type:enhancement, section:base

#404 Fix some unsafety issues
  src/client/QXmppUploadRequestManager.cpp
Labels: type:bug, type:enhancement, section:base

#405 RegistrationManager: Fix setting form type of cached registration form
  src/client/QXmppRegistrationManager.cpp
Labels: type:bug, section:client
