Repository qxmpp-project/qxmpp, pull requests merged in 2022-10, with the labels that each got.

#482 tests: JingleIq: Improve testing RTP Feedback Negotiation
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: type:enhancement, section:tests

#460 Implement XEP-0167: Jingle RTP Sessions Informational Messages
  doc/doap.xml
  src/base/QXmppJingleIq.cpp
  src/base/QXmppJingleIq.h
  src/client/QXmppCallManager.cpp
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: type:feature, section:base

#483 Implement XEP-0294: Jingle RTP Header Extensions Negotiation stanzas
  doc/doap.xml
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppJingleIq.cpp
  src/base/QXmppJingleIq.h
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: type:feature, section:base

#489 tests: JingleIq: Fix comparison for 'uint32_t'
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: type:bug

#487 Implement XEP-0167: Jingle RTP Sessions SRTP negotiation
  doc/doap.xml
  src/base/QXmppJingleIq.cpp
  src/base/QXmppJingleIq.h
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: section:base

#493 .github: workflows: Test XML syntax
  .github/workflows/tests.yml
Labels: section:tests

#497 tests: JingleIq: Test RTP crypto element separately and fix comparisons
  tests/qxmppjingleiq/tst_qxmppjingleiq.cpp
Labels: section:tests

#499 skip call manager macos
  tests/qxmppcallmanager/tst_qxmppcallmanager.cpp
  tests/travis/build-and-test
Labels: section:tests

#492 Implement XEP-0444: Message Reactions
  doc/doap.xml
  src/CMakeLists.txt
  src/base/QXmppConstants.cpp
  src/base/QXmppConstants_p.h
  src/base/QXmppMessage.cpp
  src/base/QXmppMessage.h
  src/base/QXmppMessageReaction.cpp
  src/base/QXmppMessageReaction.h
  src/client/QXmppClient.cpp
  tests/CMakeLists.txt
  tests/qxmppmessage/tst_qxmppmessage.cpp
  tests/qxmppmessagereaction/tst_qxmppmessagereaction.cpp
Labels: section:base
