Repository qxmpp-project/qxmpp, pull requests merged in 2025-02, with the labels that each got.

#677 Fix QXmppMixManager not finishing task when nothing to export
  src/client/QXmppMixManager.cpp
Labels: type:bug, section:client

#681 Stun: Include QSet to fix incomplete type
  src/base/QXmppStun.h
Labels: trivial

#684 tests: accountmigration: Fix check of random order ID
  tests/qxmppaccountmigrationmanager/tst_qxmppaccountmigrationmanager.cpp
Labels: section:tests
